<header>
    <h3 class="font-bold text-xl">{{ future_meet_up.title }}</h3>
</header>
<div>
    Data:
    <time datetime="{{ future_meet_up.date }}">{{ future_meet_up.date }}</time>
</div>
<p>Speaker: {{ future_meet_up.speaker }}</p>
<address>Local: {{ future_meet_up.location }}</address>
<p class="py-2">{{ future_meet_up.description }}</p>
<p class="text-md py-2">
    Pedimos para que se possível se inscrever no botão a baixo. Isso nos ajuda a ter uma ideia de quantas pessoas vão
    participar.
</p>
<div class="flex justify-center">
    {% include 'components/future_meet_ups/register_button' %}
</div>

