<!doctype html>
<html lang="pt">
    <head>
        <title>{% block title %}RustCWB{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
        <link rel="icon" href="/assets/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
            rel="stylesheet"
        />
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    </head>

    <body class="h-screen bg-zinc-50 text-md font-jetBrains">
        <header>
            <nav class="bg-black text-white">
                <div class="flex justify-between items-center p-4">
                    <a href="/" class="text-lg font-bold">RustCWB 🦀</a>
                    <span class="hidden md:contents"
                        >The Rust Lang Meet Up group of Curitiba</span
                    >
                    <ul class="flex space-x-4">
                        <li><a href="/meet_ups">Meet Ups</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container">{% block content %}{% endblock %}</main>
        <footer class="bg-black text-white">
            <div class="container mx-auto p-4">
                <p class="text-center">RustCWB - 2024</p>
            </div>
        </footer>
    </body>
</html>
