{% extends "base" %}
{% block content %}
<div class="container mx-auto p-4">
  <h1 class="text-center text-4xl font-bold">Meetups de Rust em Curitiba</h1>
  <p class="text-center text-xl">Bem-vindo à página de meetups de Rust em Curitiba! Aqui você encontrará informações sobre o grupo e a linguagem de programação Rust.</p>

  <div class="block bg-zinc-50 p-4">
    <h2 class="text-4xl font-bold">Sobre o Grupo</h2>
    <p class="text-xl">Somos um grupo de entusiastas da linguagem de programação Rust em Curitiba. Realizamos meetups regulares para compartilhar conhecimento, discutir novas ideias e colaborar em projetos.</p>
  </div>

  <div class="block bg-zinc-50 p-4">
    <h2 class="text-4xl font-bold">Sobre Rust</h2>
    <p class="text-xl">Rust é uma linguagem de programação que ajuda você a construir software confiável e eficiente. É ótimo para sistemas de baixo nível, mas também é perfeito para web, desenvolvimento de jogos e muito mais!</p>
  </div>
</div>
{% endblock %}
