{% extends "base" %}
{% block content %}
<div class="flex flex-col items-left justify-items-start m-3 text-lg">
  <section class="flex items-center flex-col p-4">
    <h1 class="text-3xl font-bold">Meetups de Rust em Curitiba</h1>
    <p class="mt-2">Bem-vindo à página de meetups de Rust em Curitiba! Aqui você encontrará informações sobre o grupo, nossos encontros e a linguagem de programação Rust.</p>
  </section>
  <section class="flex flex-col p-4">
    <h2 class="text-2xl font-bold">Sobre o Grupo</h2>
    <p class="text-md">Somos um grupo de entusiastas da linguagem de programação Rust em Curitiba. Realizamos meetups regulares para compartilhar conhecimento, discutir novas ideias e colaborar em projetos.</p>
  </section>
  <section class="flex flex-col p-4">
    <h2 class="text-2xl font-bold">Sobre Rust</h2>
    <p class="text-md">Rust é uma linguagem de programação que ajuda você a construir software confiável e eficiente. É ótimo para sistemas de baixo nível, mas também é perfeito para web, desenvolvimento de jogos e muito mais!</p>
  </section>
</div>
{% endblock %}
