{% extends "base" %} {% block content %}
<div class="flex flex-col items-left justify-items-start my-3 text-lg">
    <section class="flex items-center justify-center">
        <div
            class="flex items-center justify-center flex-col px-4 data-width overflow-hidden space-y-4"
        >
            {% if user %}
            <span class="text-xl"
                >Current logged user:
                <span class="font-bold">{{ user.nickname }}</span></span
            >
            <a
                class="px-4 py-2 rounded-md bg-rustLight text-white hover:bg-rustDark transition ease-in-out duration-150 cursor-pointer"
                href="/logout"
                >Logout</a
            >
            {% else %}
            <a
                class="px-4 py-2 rounded-md bg-rustLight text-white hover:bg-rustDark transition ease-in-out duration-150 cursor-pointer"
                href="https://github.com/login/oauth/authorize?client_id={{ client_id }}"
                >Login</a
            >
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}
